@model CARD.Models.MagicCard

@{
    ViewData["Title"] = "Dettagli Carta Magic";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Dettagli</h4>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Espansione</dt>
        <dd class="col-sm-10">@Model.Espansione</dd>

        <dt class="col-sm-2">Numero Serie</dt>
        <dd class="col-sm-10">@Model.NumeroSerie</dd>

        <dt class="col-sm-2">Valore</dt>
        <dd class="col-sm-10">@Model.Valore €</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a>
</p>
